html {
  background: #0E273C;
  margin: 0;
  padding: 0;
}

body {
  max-width: 600px;
  min-height: calc(100vh - 32px);
  margin: 0 auto;
  padding: 16px;
  background: white;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

#header h1 {
  margin-top: 0;
  margin-bottom: 0;
  flex: 1;
}

#header button {
  background: none;
  border: 0;
  outline: none;
  color: blue;
  cursor: pointer;
}

#login {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#login input {
  padding: 8px;
  margin-bottom: 10px;
}

#login button {
  margin-top: 18px;
  background: #597791;
  border: none;
  outline: none;
  color: white;
  padding: 8px;
}

#upload #container {
  background: #597791;
  width: 600px;
  height: 400px;
  max-width: 100%;
  max-height: 56.25vw;
  position: relative;
  margin-bottom: 18px;
}

#upload input {
  color: white;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#upload #preview {
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #597791;
  object-fit: contain;
}

#upload #preview:not([src]), #upload #preview[src=""] {
  opacity: 0;
}

#upload button {
  cursor: pointer;
  width: 100%;
  background: #597791;
  border: none;
  outline: none;
  color: white;
  padding: 8px;
}